<div style="border:3px solid darkgray">
       <div class="row" style="background:#000; height: 20px;width: 100%;">
        
    </div>
    <div class="row padding">

        <div class="form-group form-inline text-center" style="margin: 0 auto; width:60%">
            <strong style="font-size: 1.5em;">Select Files By Regular Expression</strong>
            <input type="text" style="width: 35%;" (input)="constructRegex($event.target.value)"> &nbsp;
            <a href="javascript:void()"><img src="../assets/time.jpg" alt="time" height="25" width="25"> </a> &nbsp;
            <a href="javascript:void()"><img src="../assets/star.jpg" alt="time" height="25" width="25"> </a> &nbsp;
            <a href="javascript:void()"><img src="../assets/help.jpg" alt="time" height="25" width="25"></a>
        </div>
        
    </div>
    <div class="row padding">
        <h3>Files Found</h3>
    </div>
    <div class="row">
        
        <div class="col-8">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <table class="tabsys" style="width:100% ;background: #FFF; border: 1px solid;">
                        <tr>
                            <th>Old Files</th>
                            <th>New File Names</th>
                            <th>Current File Names</th>
                        </tr>
                        <tr>
                            <td><input name="box1" type="checkbox" [(ngModel)]='boxes[0]'/>&nbsp;&nbsp;&nbsp; {{box1Txt}}</td>
                            <td>filler</td>
                            <td>filler</td>
                        </tr>
                         <tr>
                            <td><input name="box2" type="checkbox" [(ngModel)]='boxes[1]'/>&nbsp;&nbsp;&nbsp; {{box2Txt}}</td>
                            <td>filler</td>
                            <td>filler</td>
                        </tr>
                         <tr>
                            <td><input name="box3" type="checkbox" [(ngModel)]='boxes[2]'/>&nbsp;&nbsp;&nbsp; {{box3Txt}}</td>
                            <td>filler</td>
                            <td>filler</td>
                        </tr>
                         <tr>
                            <td><input name="box4" type="checkbox" [(ngModel)]='boxes[3]'/>&nbsp;&nbsp;&nbsp; {{box4Txt}}</td>
                            <td>filler</td>
                            <td>filler</td>
                        </tr>
                         <tr>
                            <td><input name="box5" type="checkbox" [(ngModel)]='boxes[4]'/>&nbsp;&nbsp;&nbsp; {{box5Txt}}</td>
                            <td>filler</td>
                            <td>filler</td>
                        </tr>
                         <tr>
                            <td><input name="box6" type="checkbox" [(ngModel)]='boxes[5]'/>&nbsp;&nbsp;&nbsp; {{box6Txt}}</td>
                            <td>filler</td>
                            <td>filler</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-2" >
           <div class="wb">
            <strong>Additional Naming Options</strong>
            <div>
                <div class="panel-heading">
                    <table style="width:75%;margin:0 auto">
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>Owner's Name</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>Day Modified</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>Month Modified</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>Year Modified</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>Latitiude</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>Longitude</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>Country</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>City</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>Numeric Array</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>New Day</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>New Month</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>New Year</td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
        </div>
        <div class="col-2 ">
           <div class="wb">
            <strong>Saving Options</strong>
            <div class="panel panel-default">
                <!--<img src="../assets/time.jpg" alt="time" height="25" width="25">-->

                <div class="panel-heading">
                    <table style="width:90%;margin:0 auto">
                        <tr>
                            <td><input type="checkbox" />&nbsp; Save to Current Directory </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" />&nbsp;Save to Another Directory&nbsp;<img src="../assets/file.jpg" alt="time" height="20" width="20"></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" />&nbsp; Make Copies and Save </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" />&nbsp;Move and Save&nbsp;<img src="../assets/file.jpg" alt="time" height="20" width="20"></td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="row finalpanel">
        <div style="float: right; width:97.5%;">
            <button class="btn btn-warning">Select Another Folder</button>
            <button class="btn btn-danger">Undo</button>
            <button  class="btn btn-success">Save</button>
        </div>
    </div>
</div>