<div style="border:3px solid darkgray">
       <div class="row" style="background:#000; height: 20px;width: 100%;">
    </div>
    <div class="row padding">
        <div class="form-group form-inline text-center" style="margin: 0 auto; width:90%">
            <strong style="font-size: 1.5em;">Select Files By Regular Expression:</strong> &nbsp;
            <input type="text" style="width: 35%;" [(ngModel)]="selectText"> &nbsp;
            <button  class="run" (click)='constructRegex(selectText)'>&nbsp;</button>
            <button class="save" (click)='addFavRegex(selectText)'>&nbsp;</button> &nbsp;
            <div ngbDropdown>
                <a ngbDropdownToggle id="history" role="button"><img src="../assets/time.jpg" alt="time" height="25" width="25"> </a> &nbsp;
                <div ngbDropdownMenu aria-labelledby="history" class="dropdown-menu">
                    <a ngbDropdownItem  *ngFor="let regex of history">{{regex}}</a>
                </div>
            </div>
            <div ngbDropdown>
                <a ngbDropdownToggle id="favorites" role="button"><img src="../assets/star.jpg" alt="time" height="25" width="25"> </a> &nbsp;
                <div ngbDropdownMenu aria-labelledby="favorites" class="dropdown-menu">
                    <a role='button' (click)='applyFav(fav)' ngbDropdownItem *ngFor="let fav of favorite">
                        {{fav}} &nbsp; 
                        <a role='button' style="float: right;" (click)="removeFav(fav)"><strong>x</strong></a>
                    </a>
                </div>
            </div>
            <a href="javascript:void()"><img src="../assets/help.jpg" alt="time" height="25" width="25"></a>
        </div>
        <div class="form-group form-inline text-center" style="margin: 0 auto; width: 90%;">&nbsp;</div>
        <div class="form-group form-inline text-center" style="margin: 0 auto; width: 90%;">
            <strong style="font-size: 1.5em;">Find Regex In Selected File Name(s): </strong> &nbsp;
            <input type="text" style="width: 35%;" [(ngModel)]="renameText"> &nbsp;
            <button  class="run" (click)='applyRename(renameText, newFileName)'>&nbsp;</button> &nbsp;
            <button class="save" (click)='addFavRegex(renameText)'>&nbsp;</button> &nbsp;
        </div>
        <div class="form-group form-inline text-center" style="margin: 0 auto; width: 90%;">&nbsp;</div>
        <div class="form-group form-inline text-center" style="margin: 0 auto; width: 90%;">
            <strong style="font-size: 1.5em;">String To Use With Rename Regex: </strong> &nbsp;
            <input type="text" style="width: 35%;" (input)="newName($event.target.value)">&nbsp;
        </div>
    </div>
    <div class="row padding">
        <h3>Files Found</h3>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <table class="tabsys" style="width:100% ;background: #FFF; border: 1px solid;">
                        <tr>
                            <th>Old File Names</th>
                            <th>New File Names</th>
                            <th>Saved File Names</th>
                        </tr>
                        <tr *ngFor="let box of boxes; let i = index;">
                            <td>
                                <input type="checkbox" [(ngModel)]='boxes[i].selected' (change)='applyRegex(i)'/>&nbsp;&nbsp;&nbsp; 
                                {{box.originalText}}
                            </td>
                            <td contenteditable="true">{{box.newText}}</td>
                            <td>{{box.savedText}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-2" >
           <div class="wb">
            <strong>Additional Naming Options</strong>
            <div>
                <div class="panel-heading">
                    <table style="width:75%;margin:0 auto">
                        <tr>
                            <td><input type="checkbox" [(ngModel)]='OwnersNameChck'/></td>
                            <td>Owner's Name</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>Day Modified</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>Month Modified</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>Year Modified</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>Latitiude</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>Longitude</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>Country</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>City</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>Numeric Array</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>New Day</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>New Month</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>New Year</td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
        </div>
        <div class="col-2 ">
           <div class="wb">
            <strong>Saving Options</strong>
            <div class="panel panel-default">
                <!--<img src="../assets/time.jpg" alt="time" height="25" width="25">-->

                <div class="panel-heading">
                    <table style="width:90%;margin:0 auto">
                        <tr>
                            <td><input type="checkbox" />&nbsp; Save to Current Directory </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" />&nbsp;Save to Another Directory&nbsp;<img src="../assets/file.jpg" alt="time" height="20" width="20"></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" />&nbsp; Make Copies and Save </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" />&nbsp;Move and Save&nbsp;<img src="../assets/file.jpg" alt="time" height="20" width="20"></td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="row finalpanel">
        <div style="float: right; width:97.5%;">
            <button class="btn btn-warning" disabled>Select Another Folder</button>
            <button class="btn btn-danger" disabled>Undo</button>
            <button  class="btn btn-success" (click)='saveNames()'>Save</button>
        </div>
    </div>
</div>
